body {
  font-family: Arial, Helvetica, san-serif;
  background-color: rgba(108, 153, 163, 0.65);
  margin:0px 0px;
}

#landing{
  background-image:url('../img/background.jpg');
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}

.typewrite{
  font-size: 75px;
  color: rgba(#0f24db, 0.74);
}


.section{
  width: 100%;
  height: 33%;
  margin: auto
}


#picture {
  max-width: 300px;
  margin-top: 50px;
}

#who {
  padding: 40px;
  text-align: center;
  background: url(-lines.png) no-repeat;
  background-size: cover;
  color: white;
  margin: 50px;
}

@media (max-width:991px) {
  #who {
    padding: 20px;
  }
}

#fullStack {
  color: white;
}

#who .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(77, 45, 45, 0.75);
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width:991px) {
  #who .jumbotron {
    padding: 25px;
  }
}

.col-md-6.about {
  text-align: center;
  padding: 60px 0;
  margin-top: -50px;
}

.about_me {
  text-align: justify;
  padding: 10px;
}

@media (max-width:550) {
  .about_me {
    padding: 50px;
    text-align: center;
    color: white;
  }
}

.knowledge {
  margin: 25px;
  text-align: center;
}

#contact {
  background-color: rgba(248, 253, 255, 0.39);
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#contact-Btn {
  margin-top: 15px;
}

@media (max-width:767px) {
  #picture {
    margin: auto;
  }
}

#footer {
  background-color: rgba(128, 128, 128, 0.23);
}

#knowledge {
  text-align: center;
}

#projectHead {
  text-align: center;
  padding: 20px;
}
