body {
  font-family: Arial, Helvetica, san-serif;
  background-color: black;
  margin:0px 0px;
}

#landing{
  background-image:url('../img/background.jpg');
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-family: 'Fredericka the Great', cursive;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}

.typewrite{
  font-size: 75px;
  color: rgba(#0f24db, 0.74);
}

.showMore{
  position: absolute;
  bottom: 5%;
  left: 50%;
  text-align: center;
  width: 100%;
  color: white;
  transform: translate(-50%, -50%);
}

.showMore .fa{
  font-size: 50px;
  animation: animate 1s linear infinite;
}

@keyframes animate {
    0%
    {
      transform: translateY(-25px);
      text-shadow: 0 25px 0 #fff;
    }
    20%
    {
      transform: translateY(0px);
    }
    40%
    {
      transform: translateY(0px);
    }
    60%
    {
      transform: translateY(0px);
    }
    100%
    {
      transform: translateY(50px);
    }
}
/*About Section*/
#about{
  /*background-image:url('../img/background.jpg');*/
  margin: 100px 25px 25px 25px;
  padding: 10px;
  background-color: black;
  font-family: 'Exo 2', sans-serif;
  background-size:cover;
  /*position:relative;*/
  /*height:100vh;*/
}

.aboutMe {
  /*position: absolute;
  top: 125px;*/
  text-align: center;
  width: 100%;
  color: white;
}

#picture {
  max-width: 500px;
  margin-top: 50px;
  /*animation: pictureAnimation 4s;*/
}

/*paragraphs about me section*/
.about_me{
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;

}

/*@keyframes pictureAnimation {
      0%{
        transform: translateX(100px);
        opacity: 0.0;
      }
      20%
      {
        transform: translateY(80px);
        opacity: 0.2;
      }
      100%
      {
        transform: translateY(0px);
        opacity: 1.0;
      }

}*/

/*Knowledge Section*/
#knowledge {
  /*background-image:url('../img/background.jpg');*/
  margin: 25px 25px 0 25px;
  padding: 10px;
  background-color: black;
  background-size:cover;
  /*position:relative;*/
  height:100vh;
}

.myKnowleedge{
  /*position: absolute;
  top: 125px;*/
  text-align: center;
  width: 100%;
  color: white;
}
/*Projects Section*/
#projects {
  /*background-image:url('../img/background.jpg');*/
  margin: 0 5% 5% 5%;
  padding: 10px;
  font-family: 'Exo 2', sans-serif;
  background-color: black;
  background-size:cover;
  /*position:relative;*/
  /*height:100vh;*/
}

/* My Projects Section */
.myProjects{

  /*position: absolute;
  top: 125px;*/
  margin-top: 50px;
  text-align: center;
  width: 100%;
  color: white;


}

.col-centered {
  float: none;
  margin: auto;
}


#projects h1
{
  font-size: 100px;
  color: rgba(248, 253, 255, 0.39);
}
.modal{
  position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  max-height: calc(100% - 100px);
  position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
}

.modalPicture{
  max-width: 250px
}


.col-md-6.about {
  text-align: center;
  padding: 60px 0;
  margin-top: -50px;
}

.about_me {
  text-align: justify;
  padding: 10px;
}

@media (max-width:550) {
  .about_me {
    padding: 50px;
    text-align: center;
    color: white;
  }
}

.knowledge {
  margin: 25px;
  text-align: center;
}

#contactDiv
{
  /*position: relative;*/
  margin: 25px 25px 25px 25px;
  padding: 10px;
}

#contact {
  background-color: rgba(248, 253, 255, 0.39);
  /*position: absolute;
  top: 125px;*/
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#contact-Btn {
  margin-top: 15px;
}

@media (max-width:767px) {
  #picture {
    margin: auto;
  }
}

#footer {
  background-color: rgba(128, 128, 128, 0.23);
}
